[2015-06-13 20:10] doomspork opened #1 "Add ravio"
rav.io

[2015-06-13 20:11] doomspork opened #2 "Add seneca systems"
seneca.systems

[2015-06-13 20:11] doomspork opened #3 "Add Bleacher Report"
http://bleacherreport.com/

[2015-06-15 06:16] doomspork commented on #1
Consumer messaging and image editing app.

[2015-06-15 06:16] doomspork commented on #2
Product company

[2015-06-15 06:18] doomspork opened #4 "Use parentheses around GitHub links"

[2015-06-15 06:38] #1 closed

[2015-06-15 06:38] #2 closed

[2015-06-15 06:38] #3 closed

[2015-06-15 06:38] #4 closed

[2015-06-22 16:34] doomspork opened #9 "Add Cobenian"
Consulting — http://cobenian.com/

[2015-06-25 16:14] #9 closed

[2015-10-03 02:57] doomspork opened #24 "Add Puppet Labs"
http://careers.jobscore.com/jobs2/puppetlabs/sr-software-engineer/a9ONT-te0r5BuJdG1ZS6tF?detail=ElixirConf&remail=&rfirst=&rlast=&sid=161

[2015-10-03 02:58] doomspork opened #25 "Add ClubConnect"
http://nlcollect-bv.workable.com/jobs/7652

[2015-10-06 15:33] #24 closed

[2015-10-14 21:07] #25 closed

[2016-02-05 09:23] aleinside opened #44 "Few lines on how elixir is used"
It would be nice to have some info on how elixir is used.

[2016-02-05 16:37] doomspork commented on #44
@aleinside do you mean how each company uses Elixir?  I that could be a nice addition though I worry about it being too verbose.  Thoughts?

[2016-02-05 16:52] aleinside commented on #44
@doomspork what do you think about a README file in relative directory, for example:
`companies/<type>/<company name>/README`?

[2016-02-08 14:47] avinoth commented on #44
:+1: It would be really good to have some info on how elixir is used, whether on the whole, or a part of system, if so which part of system and such.

[2016-02-08 17:39] doomspork commented on #44
I agree it would be nice to know how it was being used, that was _kind_ of the idea behind the GitHub link.  If you're interested in knowing what they're doing you could check out their site or their GitHub repos.

That said, I do have some reservations about a more substantiated write-up:

1. If it's perceived as required, it will turn away contributions.
1. I suspect a decent portion of the writ

[2016-02-20 19:03] doomspork commented on #44
@aleinside & @avinoth what do you think about using the new PR templates to suggest adding a note about usage?

The template could outline the format desired format while reminding them to alphabetize and include some mention of their usage.

[2016-02-21 09:28] avinoth commented on #44
@doomspork Sounds good. Regarding your concerns over the companies might not want to share how elixir is being used, We aren't seeking any detailed explanation of how they've implemented but rather just how elixir fits into their ecosystem. An online would suffice.

Do you want me to create the template or do you have one in mind?

[2016-02-21 17:25] doomspork commented on #44
@avinoth if you'd like to take a stab at putting together a template, @aleinsideand I  can provide some feedback and then merge.  Sound good?

Thanks for your interest and feedback :+1:

[2016-02-24 22:00] pragmaticivan opened #53 "Add the country where the company is located"
What about adding something like [BR] [US] [PL] in the right side of the name or something like that?

[2016-02-24 22:44] doomspork commented on #53
I think that's a good suggestion @pragmaticivan :+1:

[2016-02-24 22:44] pragmaticivan commented on #53
That's a big issue for me if I want to look for a job and just can work in USA hahaha

[2016-02-24 22:46] doomspork commented on #53
Definitely.  I think it would be a good idea to create one of the new GitHub PR templates for this repo as discussed in #44.  If @aleinside or @avinoth don't have the time, feel free to put something together and open a PR for discussion :grinning:

[2016-04-08 15:42] avinoth commented on #44
Can we close this issue then?

[2016-04-08 15:53] doomspork commented on #44
@avinoth yup :+1:

[2016-04-08 15:53] #44 closed

[2016-04-09 15:41] doomspork commented on #53
@pragmaticivan we now have a PR template for this repo, if you'd like to add a check box for including country code that would be great :+1:

[2016-08-12 07:40] h4cc opened #94 "Adding Digimondo to IoT category"
I would like to add my german company Digimondo, which is providing a IoT LoRaWAN Network.

Should i create a new category "Internet of Things" for that?

[2016-08-12 14:16] doomspork commented on #94
@h4cc I think that's be great!  I know some other Elixir IoT companies that should be coming out in the next few months.

[2016-08-12 20:18] h4cc commented on #94
PR: https://github.com/doomspork/elixir-companies/pull/95

[2016-08-13 18:47] #94 closed

[2016-08-19 13:29] #53 closed

[2017-12-13 18:45] doomspork opened #252 "Consolidating Categories"
We have _a lot_ of categories, too many.   Should we consolidate the categories into a smaller set with broader categories?  If we do, should we add in the concept of tags?

@stevedomin any thoughts?

[2017-12-23 10:07] stevedomin commented on #252
@doomspork sorry for not responding earlier, been travelling a lot.

I guess my first question would be: what do we use categories for?

[2017-12-26 22:40] doomspork commented on #252
No worries @stevedomin!  I've been away a lot myself lately.  The categories are used for organization.  Perhaps tags would be better suited for that?

[2017-12-27 23:01] doomspork commented on #252
@burden and @ybur-yug2 either of you have any thoughts?  I know we've briefly discussed this before.

[2018-01-02 11:47] stevedomin commented on #252
@doomspork sorry my question wasn't very clear. I know where we used them but I'm more interested in why we have them in the first place?

In the markdown we used it for grouping companies but now they're listed alphabetically and we don't offer any kind of sorting/grouping.

I guess tags would work here but I worry it would become a mess.

How do we want users to use them? What do we want to high

[2018-01-04 21:24] doomspork commented on #252
Ah ha!  Sorry about that @stevedomin.  I'm trying to think of a new UI for the site that would allow you to sort companies by an industry, which is essentially what categories are supposed to be.

[2018-01-05 20:49] stevedomin commented on #252
@doomspork makes sense. Should we use a list like this one then? https://gist.github.com/mbejda/19012b99a12e9d014389

Or any other standardised list of industry?

[2018-01-05 21:35] doomspork commented on #252
@stevedomin this is _awesome_, how the heck did you find that?  This would be a fantastic list to use.

[2018-01-11 05:19] stevedomin commented on #252
Not sure how I found it tbh :)

Shall I make a PR with this new list?

[2018-01-13 00:27] doomspork commented on #252
Please do @stevedomin!

[2018-05-15 23:27] rhnonose opened #288 "Github links are giving 404"
All (as far as I checked) company github links are returning `404`.

Apparently, the company layout is expecting the github field to be a user/org and it's appending to `http://github.com/`, resulting in a broken url (homepage's first company's github is `https://github.com/https://github.com/ScriptDrop?language=elixir`).

[2018-05-16 00:07] doomspork commented on #288
Thank you @rhnonose!  I'll take a peek right now 👍

[2018-05-16 00:11] #288 closed

[2018-05-16 00:11] #252 closed

[2018-05-16 08:22] Tuxified opened #296 "Filter/search on location?"
It's currently possible to browse by industry, but I think it might also make sense to add location as a filter so folks can see which companies can be found in their country/neighbourhood? What do you folks think, would that be a good feature?

[2018-05-16 11:04] stevedomin commented on #252
Love the new page @doomspork !!! <3

[2018-05-16 14:33] Nezteb commented on #296
I came here to post this same issue. Even just having a page that lists all of the unique locations in the source YAML file and which companies are in those locations would be good.

[2018-05-16 15:06] doomspork commented on #252
Thank you @stevedomin, @burden did most of the layout work!

[2018-05-16 16:18] doomspork commented on #296
This is a great idea.  Let's talk it over.  What would we want the final product to look like?

[2018-07-16 16:25] michalmuskala opened #337 "Too many industries"
The industries list is so large, some of them don't show on the drop-down. Right now, the list ends for me with "Sports"

<img width="913" alt="screen shot 2018-07-16 at 18 24 25" src="https://user-images.githubusercontent.com/477062/42770812-8932fdf8-8925-11e8-8248-2fe36f9963bb.png">

It seems there are also some almost duplicates with "Marketing/Sales" and "Marketing/Advertisement/Sales" or "Mar

[2018-07-16 16:55] doomspork commented on #337
I agree.  I've slowly been working through this list to consolidate the industries.  Any ideas would be greatly appreciated 😁

[2018-07-25 12:00] lackac commented on #337
In the meantime I submitted a fix in #352 for showing all industries in the dropdown.

[2018-08-27 06:08] OmanF commented on #53
This will become redundant once #296 is implemented, but a template is a great interim solution.

[2018-08-27 06:41] OmanF commented on #337
Top of my head ideas on consolidating:
1. `Blockchain & Fintech`, `Financial services`, `Financial technologies`, `Insurance`, `Payment` --> `Financial services` (If you can't figure out `Payment` is *a* financial service, as a recruiter, I wouldn't like you to submit your CV my way. Seriously. And as a candidate, I really don't care if you're financial technology or service... I want to do cool s

[2018-08-27 14:11] doomspork commented on #337
@OmanF would you be interested in opening a PR that started the consolidation?

[2018-08-27 14:46] OmanF commented on #337
Be happy to.
Just forked the repo and I'm having a hard time figuring out where some of the displayed industries originate from.

For example, neither `Blockchain & Finance`, `Cannabis` nor `Financial Technologies` are on the file `src/_data/indutries.yml`.

I'd happily take an axe to the correct file if you can just point me in the right direction.

[2018-08-27 14:59] doomspork commented on #337
@OmanF I think we got mixed up here somewhere during a refactor.  I believe the industry list is actually pulled directly from `companies.yml`: https://github.com/doomspork/elixir-companies/blob/1cd694eda41c9151094252e72c9aa7d16fa7a90a/src/_data/companies.yml

https://github.com/doomspork/elixir-companies/blob/master/src/_plugins/generator.rb#L10

I'd love to discuss a way we can make this better

[2018-08-28 09:02] OmanF commented on #337
Pushed my first PR.
Like I said in the commit notes: I'm **not** saying this category list is optimal. I can see for myself how this may seem restricting to some, maybe it **is**... But some de-cluttering was a must at this time.

A future discussion can be held on what should be expanded and what can be further reduced.

As to a means of enforcing *an* agreed upon list, when one does emerge... my

[2019-01-13 16:18] bcardarella opened #423 "All listing"
The industry breakdowns are useful but it would be great to just scroll through a comprehensive list as well.

[2019-01-13 16:40] doomspork commented on #423
Agreed @bcardarella! We're working on a new Phoenix app to replace Jekyll, providing a searchable/scrollable list is something I'd like to include 👍

[2019-02-02 20:10] doomspork opened #448 "Browse / sort companies by geography / display on map"
It would be great to allow folks to sort companies and jobs by their geography (and jobs by remote).

We may want companies and jobs as separate issues.

[2019-02-02 23:22] doomspork opened #449 "Prettify the URLs"
I think we should use `slugs` for industries than the raw `id` field.  For instance, I think `http://beta.elixir-companies.com/industries/156` should become something like :
- `http://beta.elixir-companies.com/customer-service`
- `http://beta.elixir-companies.com/industies/customer-service`

Or maybe we want to ditch the search-by-industry and build a more powerful search page. That could satisfy

[2019-02-02 23:28] doomspork opened #450 "Test coverage"
I'm ashamed of how little testing there is (read: none). This was intended to be quick-and-dirty but now that it's working, we should make it less dirty. The best place to start with that is going to be adding test coverage.

[2019-02-02 23:32] doomspork opened #451 "Leaderboard / Gamification"
Keeping this list fresh (especially jobs) can be only be automated so much. With the `pending_changes` table we know who has added, updated, and deleted content. Do we want to explore "incentivizing" folks participation?

@gemantzu / @burden / @shawnonthenet, thoughts?

[2019-02-25 02:54] #423 closed

[2019-02-25 02:59] doomspork commented on #296
We've updated the site to be powered by Phoenix, I think this issue, and #354, should be easier to tackle now. Happy to discuss this further 👍

[2019-02-25 03:01] doomspork opened #439 "Fix the favicon"
The favicon appears to be missing, we should fix that.

[2019-02-25 06:49] Nezteb commented on #296
I'll come up with a mockup in the next few days! Also check to see how difficult it would be to implement myself. 😄

[2019-02-25 15:47] doomspork commented on #296
@Nezteb I'm happy to brainstorm some approaches with you and do some pair-programming if our schedules overlap 😁

Throwing out some ideas:

We add PostGIS to the DB and a lat/lon for every business then plot them on a map.

[2019-02-25 18:57] doomspork opened #442 "Update README"
We should update the README with instructions for running the application and seeding data.

[2019-02-25 22:21] gemantzu opened #443 "Twitter handle"
I see some occasions where people are using their github field to post their twitter handle.
Should we consider  a more robust option (select a "field type" eg twitter - github - etc, give a value, select another "field type", give another option etc)?

[2019-02-26 03:32] doomspork opened #445 "Alert maintainers when a change is submitted"
Right now we need to check regularly to see if there are pending changes, we should be alerted when these occur. For now we can stick with a Slack webhook 👍

[2019-02-26 07:07] gemantzu opened #446 "Urls when http / https is missing"
When http is missing, it converts the url to be a part of the website ("https://elixir-companies.com/url").

Edit: not just the website url, we need to force users to enter the correct protocol for their website, so we do not have to guess which one works.

[2019-02-26 21:26] tajchumber commented on #450
I came here to add an issue for this, but it's already here! hahah

[2019-02-26 21:27] doomspork commented on #450
Sorry @tajchumber! I am very bad at writing tests early on 😆

[2019-02-26 21:49] #442 closed

[2019-02-26 21:59] doomspork opened #454 "Notify user of accepted or rejected changes"
We need a way to tell users who've submitted a change that we accepted it or rejected it and why.

[2019-02-26 22:00] doomspork commented on #454
We could capture the user's email address from GH and email them a notification?

[2019-02-26 22:02] doomspork commented on #439
@burden / @tajchumber would one of you be able to look at this?

[2019-02-26 22:03] doomspork commented on #337
@michalmuskala  I'm going to close this for now but if you think this is still an issue I'm happy to discuss better ways to handle this data now that we're using Phoenix

[2019-02-26 22:03] #337 closed

[2019-02-26 22:47] #439 closed

[2019-02-27 02:19] #446 closed

[2019-02-27 02:20] doomspork opened #458 "Allow users to edit existing companies and jobs"
There is no way to update a company or a job after it has been posted, we need to provide a means to do this.

[2019-02-27 07:31] gemantzu commented on #454
I think I like the first solution better. The other way around would be to show users the pending changes they have on the page. We may want to have an option to ask them for changes for something instead of only just reject.

[2019-02-27 17:05] #445 closed

[2019-02-27 21:20] tajchumber opened #461 "Fix required Github permissions during authorization"
From the authorization process, we only store email and nickname and email on db
![screenshot_2019-02-27 build software better together](https://user-images.githubusercontent.com/16062635/53523708-69dc4880-3ad5-11e9-883c-513cc2648ed8.png)

so we shouldn't ask for the full access to the profile and public repos but the information strictly neccessary.

[2019-02-28 04:07] doomspork opened #463 "Freelancer profiles"
We have companies, we have jobs, it makes sense that we also allow freelancers to list themselves and when they're available for hire.

Thoughts on what this should look like @tajchumber, @burden, and @gemantzu?

[2019-02-28 09:33] tajchumber commented on #463
I don't see why not! I think it's a good idea!

[2019-02-28 17:44] gemantzu opened #464 "Handle Reject option"
Right now, we don't handle the reject option on the admin. We should check on the approved param and either approve the change, or reject it. Also, there is a typo on the accept button name in the form.

[2019-03-01 21:04] tajchumber opened #465 "Add 404 Page"
We need to add a better styled 404 page.
Currently we have a very barebone page that says "Not Found" without any styling (example [here](http://elixir-companies.com/asdasdasdad))

[2019-03-03 01:55] doomspork commented on #461
@tajchumber this sounds reasonable, would you like to update the perms?

[2019-03-03 18:18] #461 closed

[2019-03-03 22:40] #464 closed

[2019-03-03 22:50] doomspork opened #469 "Rethink edit and delete buttons"
The buttons are currently too big and take up too much valuable real estate on each card.  How can we improve the UX while retaining the functionality?

![image](https://user-images.githubusercontent.com/73386/53703154-d3a56c80-3dcb-11e9-88a1-7c82d69170ac.png)

[2019-03-03 22:50] doomspork commented on #469
@burden / @tajchumber as the resident UX experts any thoughts?

[2019-03-03 23:10] doomspork commented on #463
What kind of fields do we want to store for freelancers?

[2019-03-03 23:16] tajchumber commented on #469
### Solution 1

Remove the text and leave the icons only, we would have to add `title` tags to the `a` elements so that some text would show on hover.

### solution 2

Move the edit and delete icons in a dropdown menu on the top right of the card see rough sketches below:
![1](https://user-images.githubusercontent.com/16062635/53703470-53eac280-3e0a-11e9-8f2a-16fd77886d7a.jpg)

![2](https://user-i

[2019-03-04 00:18] doomspork commented on #469
Solution 2 gets my vote. @gemantzu / @burden?

[2019-03-04 00:21] doomspork commented on #469
This is also an issue for jobs:
![image](https://user-images.githubusercontent.com/73386/53704298-cb076300-3dd8-11e9-9466-94e62b4f497f.png)

[2019-03-04 04:49] doomspork commented on #469
Should the edit company page also allow you to manage jobs to avoid those individual controls?

What do you think of making cards bigger?  1 card == 2 existing cards. It would make more space for the description.

[2019-03-04 07:07] gemantzu commented on #469
I think the second solution is better, and we could take a similar approach on the jobs. Regarding making them bigger, probably a 3 per page solution would make more sense, making them twice as big might be too much.

[2019-03-04 07:15] gemantzu commented on #463
Let's see:
- Name (from github)
- Username (from github)
- email (from github)
- bio
- interested_in (a generic field to describe what jobs interests this person)
- (remote / on site / freelance)
- location (we can probably use this if we add functionality to search by location, when someone registers on the jobs board, we can show hiring companies near that person).
- (optional) maybe an amount f

[2019-03-04 09:02] tajchumber opened #471 "Edit company has wrong heading at the top"
When you edit a company the heading is "New Company", i think we should change it to "Edit Company" or the even the name of the company itself

<img width="728" alt="screenshot 2019-03-04 at 09 00 42" src="https://user-images.githubusercontent.com/16062635/53722229-ef0c8800-3e5c-11e9-8dda-d52441ecfbd0.png">

[2019-03-04 22:12] brain-geek opened #472 "Automatically check jobs availability"
Right now the project has a problem: most of jobs are outdated. This can be partially solved programmatically.

In case of URL specified is no longer invalid (had 200, now has 404) it's safe to say that vacancy is no longer relevant. We also should check whether site actually has the linked page at the moment of creation.

Would this be a useful feature?

[2019-03-04 22:17] brain-geek commented on #458
Is it still an issue? Seems like this has been implemented already in #466.

[2019-03-04 22:25] brain-geek opened #474 "Paging issues"
Right now at http://elixir-companies.com/browse page there are 7 companies, 5 on http://elixir-companies.com/browse?page=2 and 8 on http://elixir-companies.com/browse?page=3 and (apparently) further.

It's definitely a bug. But what is the reason why there are 8 companies per page initially? Wouldn't it be better with at least 16, or with endless scrolling?

[2019-03-04 22:26] doomspork commented on #472
Yes, yes, YES! I would _love_ to solve this with Elixir. It would be a _wonderful_ blog post for Elixir School too, to document just how we accomplished that.

[2019-03-04 22:32] doomspork commented on #474
@brain-geek we picked 8 because it fit well on the page, we can absolutely up the count.

An error was just reported in AppSignal that may be related:

[code]

[code]

When LiveView is out I think it would be awesome to redo everything 👍

[2019-03-04 22:50] #458 closed

[2019-03-04 22:50] doomspork commented on #458
@brain-geek would you like to help us with the project? I'd be happy to add you to the repo 😁

[2019-03-04 22:57] brain-geek commented on #458
@doomspork Yep, that would be interesting. I don't expect to have a steady flow of contributions, more like having a peak every few months like in elixir school. 😄

Also, would it be possible to get DB dump of industries, companies and jobs tables? For example, it would be helpful in debugging that paging issue.

[2019-03-04 23:29] lccezinha commented on #472
It's possible to add a daily routine (eg rake task) that checks all urls for each job in the database and if it returns 404 we could disable the job post.

What do you guys think about it?

[2019-03-05 06:45] gemantzu commented on #472
@lccezinha this project is no longer written in Ruby, we transitioned it in elixir a few days ago, so we have to find a solution in the elixir space :)

[2019-03-05 10:13] gemantzu opened #476 "/hiring from google - Route exists but no method in controller"
AppSingal shows this:
`function CompaniesWeb.CompanyController.hiring/2 is undefined or private`
which is possible if you come from google, where we have /hiring as a path (probably some seo left from the old website). This path exists in our router, but internally we have changed this functionality to work through `browse?type=hiring`.

[2019-03-05 10:19] gemantzu commented on #471
Closed by #475

[2019-03-05 10:19] #471 closed

[2019-03-05 11:45] gemantzu commented on #474
I think #470 broke something here, links for companies by name initials do not work at all now.

[2019-03-05 21:24] lccezinha commented on #472
@gemantzu I know it. But in the Elixir/Phoenix context, does not exist something that is equivalent to follow this approach?

[2019-03-05 21:43] brain-geek commented on #472
I was thinking about quite a different approach - having a scheduler process in supervision tree and run a simple polling job every ~6 hours. I even have this in code snippets - just need to set it up properly in this project.

[2019-03-05 22:44] doomspork commented on #472
We could use a Mix task potentially

We need to confirm this won't be an issue with Heroku. If it is, I can just bite the bullet and look into getting a dedicated DO box.

[2019-03-05 22:48] brain-geek commented on #472
Yeah, but where's using Elixir features in this approach? 😄

It won't. I've had long-running workers on heroku (though not a free one). The major problem with that is that heroku restarts dynos every ~24 hours, but it's not a big deal generally.

[2019-03-06 01:26] doomspork commented on #474
@brain-geek can you confirm this is still an issue? Looks to be resolved to me.

[2019-03-06 08:09] gemantzu commented on #474
It is working properly now, #477 fixes this. Only question is if we want more than 8 companies to be displayed. Should we add a select on top with which users could pick how many they want?

[2019-03-06 08:19] gemantzu opened #480 "Hiring ribbon is on top of company name"
![default](https://user-images.githubusercontent.com/4966172/53865890-e8b31300-3ff8-11e9-9d0f-d9458e170f77.png)

As you can see, hiring label hides a part of the text for company name. Should we change this or is it as intended?
@doomspork / @tajchumber / @burden thoughts?

[2019-03-06 08:58] tajchumber commented on #472
@burden @brain-geek I think we can do this using `GenServer` pretty easily. Don't think Heroky would have any issues with that!

[2019-03-06 09:03] tajchumber commented on #474
We can add a select box on the side of pagination so that users can choose how many cards they want to see. Like this:

 <img width="179" alt="screenshot 2019-03-06 at 09 01 49" src="https://user-images.githubusercontent.com/16062635/53868710-88b76f00-3fee-11e9-85d6-50f0cfa2dc2a.png">

We should open a separate issue for this as it's entirely related.

[2019-03-06 09:56] brain-geek commented on #474
I believe we should can bump it to at least 24, unless there are performance reasons to do it, for which I doubt. And add infinite scroll some time in the future.

[2019-03-06 13:45] lccezinha commented on #480
In my vision the label is important, but maybe should be in another position to avoid hiding the company name.

What about use Ribbon in this position?

![image](https://user-images.githubusercontent.com/2160392/53885610-ef438980-3ffc-11e9-96bf-cec8704cfd09.png)

[2019-03-06 15:04] doomspork commented on #480
I like the proposed angled ribbon @lccezinha!

[2019-03-06 15:06] doomspork commented on #472
We did a blog on the topic! https://elixirschool.com/blog/til-send-after/

[2019-03-06 16:39] tajchumber commented on #480
just remember that if the company name is very long it can still go under the ribbon!
To make sure it doesn't add some `margin-right` to the company name!

[2019-03-06 17:25] doomspork commented on #480
Is there an icon we could use that that would indicate hiring, something that could go next to the name?

[2019-03-06 17:26] notactuallypagemcconnell commented on #472
I dont think this needs mix or anything. It can just be a simple genserver that sends itself a message to do the work like @brain-geek said. The dyno restarting isnt an issue since we only need the task to run in the regular interval. We dont care about that time it runs _at_ we care about it running _every so often_ so on restart its not a big deal cuz itll fire off just on a new interval. The ti

[2019-03-06 17:29] notactuallypagemcconnell commented on #472
One note: we may want to make the task run _on init_ instead of after the first message is received in the interval, that way we ensure on restart the latest is in.

[2019-03-06 17:33] doomspork commented on #450
I've added a lot of test coverage. We need to get tests in there for Phoenix and if we want, the Schemas.  Do we want to close this issue and create new issues for the individual controller + view combos?

[2019-03-06 17:34] zacck commented on #476
Would a redirect here suffice?

[2019-03-06 17:35] doomspork commented on #472
Happy to work with someone on this if they're not 💯how to solve it 😁

[2019-03-06 17:37] doomspork commented on #476
Yes, I think a redirect would be a good option here. Thank you @zacck 😁

[2019-03-06 17:38] zacck commented on #476
Watch this 👁

[2019-03-06 17:58] gemantzu commented on #476
@zacck thank you for your interest :) . Are you going to submit a PR for this? If yes, this is great, but if no, please let us know so we can go ahead and fix it ASAP because apparently a lot of people find themselves landing on an error page instead of a regular one. Thanks again :)

[2019-03-06 18:03] zacck commented on #476
@gemantzu I did a thing :)

[2019-03-06 18:05] gemantzu commented on #472
So what should it do? Should it push all jobs that their url is not 200 on a pending change#delete? And what about companies? If a company changes their url or goes down under, should we check and act on it or no?

[2019-03-06 18:11] notactuallypagemcconnell commented on #472
@gemantzu I think companies themselves is a separate case. Job postings are often done through sites like lever and such where the 2xx/4xx difference should be clear but it could be a lot of things like a 301 redirect, 404, 5xx, or other things in that situation.

I think the simple/naive implementation would be something like "every 4 hours check for 200, if its 404 then send a command to some mo

[2019-03-06 18:49] brain-geek commented on #472
@notactuallypagemcconnell yup, there are plenty of cases.

302 could be link to the new URL. However from my experience it's _usually_ redirect to root page with error message.

But if it's 404 - then we're out of luck.

Actually, we could email the person who added this job with notification of deletion some time after thee initial cleanup goes through. The best kind of business logic in developm

[2019-03-06 18:51] brain-geek commented on #472
To improve usability we generally should also check URL as a part of job creation process. just have a 30 sec request timeout to make sure we don't time out this request from user.

[2019-03-06 19:21] #476 closed

[2019-03-06 19:28] zacck commented on #450
@doomspork  how about we make this an epic and list all the small tests to be added as tasks on this issue? especially for the schemas the Phoenix work?

[2019-03-06 19:34] brain-geek commented on #474
Initial problem fixed by @doomspork , paging amounf being tweaked in #482 .

[2019-03-06 19:34] #474 closed

[2019-03-06 19:47] zacck commented on #450
@ricoh @WanjikuMac, this one has our names written all over it ... those changesets in the `schema` folder would be low hanging fruit

[2019-03-06 19:47] lccezinha commented on #480
According to the google images ![hiring icon](https://cdn3.iconfinder.com/data/icons/business-solid-3/64/Business_Management_Employment_Job-01-512.png)

[2019-03-06 20:47] brain-geek commented on #472
To shift discussion to a more constructive path - I've drafted first version https://github.com/doomspork/elixir-companies/pull/483

Any ideas on how to change it?

[2019-03-06 21:30] tajchumber commented on #480
@doomspork I think the ribbon is a better solution as it's more explicit

[2019-03-06 21:50] gemantzu commented on #480
:thinking: But that icon could be useful in our developer listing...

[2019-03-08 09:35] tajchumber commented on #469
option 2 it is!

I shall open a PR for this this weekend!

[2019-03-08 19:25] Nitrino commented on #463
In addition to @gemantzu fields described, you can add a link to CV, since I do not think that this section is aimed at providing complete information about the freelancer.

[2019-03-08 19:59] lccezinha commented on #480
Closed in #484

[2019-03-08 20:14] #480 closed

[2019-03-09 19:23] zacck commented on #454
I'd like to handle this,  Perhaps we can use something like Bamboo and send out an email whenever these approvals or rejections occur? We would need something like a Sendgrid apikey to use, and  some agreed form of template to use when sending out this email ... should be kinda straight forward

[2019-03-09 19:42] doomspork commented on #454
@zacck that was going to be my plan of attack! I will create a Sendgrid account for this project (if I haven't already 🤔 ). We can use Sendgrid templates themselves directly and keep the email in the app pretty straight forward.  This is what I'm doing in another application:

[code]

[2019-03-09 20:57] #465 closed

[2019-03-10 05:28] zacck commented on #454
@doomspork  haha yes exactly ... now to find those approval/rejection events where are they exactly?

[2019-03-10 18:18] doomspork opened #493 "Gettext support"
Is it worth us considering implementing Gettext into this project? It will serve as an example for the community in addition to allowing folks to provide translations if they so choose.

Thoughts @tajchumber, @gemantzu, @Nitrino?

[2019-03-10 18:23] doomspork opened #494 "Add PostGIS to the project"
In order to provide the best support for location support and mapping companies/jobs/freelancers, we should encode locations into lat/lon. To properly store this we should look at using PostGIS in this project and adding a `point` to the company table to store the exact location of the company.

How do we handle companies would multiple locations? Do we even bother supporting that or require a sin

[2019-03-10 18:26] doomspork commented on #454
@zacck they don't exist yet, I was going to do them along with the rest of this. Let me take a peek at some things and I can put together a branch we can share to tackle this 😁

[2019-03-10 18:30] zacck commented on #454
@doomspork  I went spelunking I found them thoug
I feel as though we need to notify the change owner at this point
https://github.com/doomspork/elixir-companies/blob/8c0d12772e24aca554e80041080e8f0c2335adb0/lib/companies/pending_changes.ex#L145

or am I wrong?

[2019-03-10 18:31] zacck commented on #454
You could make two templates one for approval and one for rejection and depending on the `approval` param I could send out a message to the owner of the pending change?

[2019-03-10 18:32] doomspork commented on #454
Here is where we kick off the notifications for new changes: https://github.com/doomspork/elixir-companies/blob/8c0d12772e24aca554e80041080e8f0c2335adb0/lib/companies/pending_changes.ex#L125

Right now the `Notify` code only supports a single notifier at a time so we'll need to make some adaptions for this.

[2019-03-10 18:51] doomspork commented on #454
This is just a quick stab at it, I can take a more in-depth look later. To achieve what we need we can probably do something like this:

[code]

@zacck I'll create the templates but we won't want to include them in the code, they should be loaded from the `System`:

[code]

In the email template we'll need at least 4 (5?) dynamic fields:

- Github handle of the user ("Hello doomspork :wave:, ")
-

[2019-03-10 19:11] zacck commented on #454
@doomspork yeah good catch we run into this at work routinely, you need to build legacy templates, your other details and the code sample seems to be what I would have done exactly will set some time aside to push this in

[2019-03-10 20:33] Nitrino commented on #493
I now think about it and planned to create an issue.

I am the co-organizer of Moscow meetup and I often hear questions about how many and which companies in Russia write on the elixir. Therefore, I thought to launch elixir-companies.ru but found this project.

I would like to think about how we can launch these projects together and allow local communities to be allocated to separate domains. For

[2019-03-11 04:02] doomspork commented on #493
We'd had tremendous success with translations over at [elixirschool/elixirschool](https://github.com/elixirschool/elixirschool/pulls) so I know the community is excited, I think gettext is a great addition! We should definitely kick that off.

I'm not sure I understand the need for extra domains though? Wouldn't we want a single domain for the most benefit to SEO so the resource is easier to find?

[2019-03-11 04:47] Nitrino commented on #493
One more question:
What will we do with the description of the companies? They are filled in by users and only in one language.

[2019-03-12 08:08] Nitrino commented on #494
I think we can support multiple locations of companies and give the opportunity to indicate which of them is the main office.

Remote work should be a separate field, as there are companies with offices, but willing to hire remote workers. If remote work is indicated and there are no specified offices, then the company can be considered completely remote.

[2019-03-12 14:13] doomspork commented on #494
The remote work should be reflected on the job listing. I'm referring to companies that have no office and thus, no locational to geo encode.

[2019-03-12 16:55] Nitrino commented on #494
Yes, in this you are right, the ability to work remotely should be a field of an offer.
But I'm not sure that you can know whether the company is remote only by the presence of offices.
I known several companies that are remote but have offices for the convenience of some of their employees.

[2019-03-12 17:07] doomspork commented on #494
Me too. They'd list their locations 👍

When I said this:

I'm only referring to companies that have no physical location: no office, no address, nothing to geo encode. They would be absent from this view and we need to decide if that's satisfactory or whether we want to display them in some other fashion.

This PR isn't concerned with displaying whether they allow remote workers.

[2019-03-12 17:08] #469 closed

[2019-03-12 17:08] #450 closed

[2019-03-12 17:08] Nitrino commented on #494
@doomspork Oh, sorry. I'm lost in context.

[2019-03-12 17:24] doomspork commented on #494
No worries @Nitrino! We _should_ open an issue about company enhancements. I think there's a number of things we can improve, an easy win would be supporting #443 (or any social network for the company).

I think collectively we can come up with a few more.

[2019-03-12 17:27] doomspork opened #497 "Consolidation and localization of industries"
The industry list has been a sore spot for us for a long time, we've had a number of issues on the topic (#337, #252 are just two that come to mind).

With #493 being merged we need to figure out how to complete that work and allow the translation of industries. Before we trouble translators for their time we need to consolidate this list down and identify a way to map a company to the list.

cc @

[2019-03-12 17:30] doomspork opened #498 "Company profile enhancements"
Following my conversation with @Nitrino it was determined we need to create an issue it identify and implement some profile enhancements to companies. Some of these off the top of my head could include:

- Whether they consider themselves "remote" (despite having offices). I could see people searching on this.
- More complete support for social networks. Right now we store Github and a blog. We co

[2019-03-12 17:32] doomspork opened #499 "Identify and set a user's locale for localization"
#493 is merged so now we need to devise a way to identify the user's locale and where to handle this. We could use URL paths (/ru/, /en/), rely on a cookie, or browser headers.

What do you think @tajchumber, @gemantzu, @Nitrino, and @brain-geek?

[2019-03-12 17:33] doomspork opened #500 "Localization of company descriptions"
This is something brought up during the gettext work. How do we want to handle this if at all? I'm going to defer to @brain-geek and @gemantzu who have years of experience managing and providing translation for Elixir School.

[2019-03-12 17:54] Nitrino commented on #498
Social networks usually do not require indexing and searching, so we can just use the PostgreSQL JSON array. e.g.:
[code]

[2019-03-13 06:31] gemantzu commented on #500
I don't think we want to manage something like this. I can understand localizing the website, but translating descriptions? Who is going to manage this? Certainly not the "owner" of the company, they just care for the English description. We could ask with a poll though, if you believe there is enough interest about this.

[2019-03-13 06:53] gemantzu commented on #497
I think before we changed the site to phoenix, there was a proposition to merge some of the industries, at least the ones that fit together or were in reality a sub-industry of another.

First of all though, we need to decide how to store translations for this. Are we keeping the industries in the database and use a map to store translations, or do we hardcode them in a config file, and let users

[2019-03-13 11:15] brain-geek commented on #500
I agree. Volunteeers won't be doing this, and company owners won't do as well - company from NY is not going to pay money to actual interpreters to translate their company description to russian, for example.

[2019-03-13 12:03] Nitrino commented on #500
It seems the only option to leave the description in English.
But we need to be prepared that people will fill out descriptions in their own language.
Maybe we can use automatic translation via Google translate?

[2019-03-14 13:18] zacck commented on #454
@doomspork  Started on this and kinda got stuck with finding the actual resource a change belongs to since I need the title or name in the template any ideas on how to do this?

[2019-03-14 15:32] zacck commented on #454
@doomspork  👀  watching you

[2019-03-14 23:07] doomspork commented on #454
Responded on the PR 😁

[2019-03-18 18:08] doomspork commented on #500
It would be in an organizations best interest to provide the English translation themselves, if they don't, we can use their native description with the understanding most site visitors won't know what it says and likely won't look into them further

[2019-03-18 18:08] #500 closed

[2019-03-18 18:09] doomspork commented on #493
We have #497 and the work done in #495, closing this.

[2019-03-18 18:09] #493 closed

[2019-03-18 18:09] doomspork commented on #451
I'm going to close this for now, I don't see this being something we pursue or others are eager to contribute.

[2019-03-18 18:09] #451 closed

[2019-03-18 18:10] doomspork commented on #443
Closing. This can be rolled up into #498

[2019-03-18 18:10] #443 closed

[2019-03-18 18:10] doomspork commented on #296
Conversation for implementation can be found on #494

[2019-03-18 18:10] #296 closed

[2019-03-18 18:11] doomspork commented on #448
@tajchumber I am going to close this for now since we have #494 which may spawn different tickets and approaches based on what we end up there.

[2019-03-18 18:11] #448 closed

[2019-03-21 05:15] sandeshsoni commented on #463
In addition to @gemantzu adding stackoverflow profile would also be helpful. My personal opinion

[2019-03-24 18:15] gemantzu opened #505 "Browsing Companies by name should show companies alphabetically"
Right now, browsing companies per name does not work properly, the companies with the correct starting letters are displayed but the order they are displayed is not alphabetical.

[2019-03-26 18:51] gemantzu opened #506 "Company card only has the latest job."
If a company has more than one (approved jobs), they are not all displayed. Only the latest added one is shown.

[2019-03-27 21:05] tajchumber commented on #505
pushed this to master without a PR my bad! 👶
this should be fixed now. Please let me know if this works for you @gemantzu @doomspork @brain-geek 😄

[2019-03-28 12:19] gemantzu commented on #505
It seems fine to me. Thanx @tajchumber !

[2019-03-28 12:19] #505 closed

[2019-03-28 16:24] lccezinha commented on #506
@gemantzu I'll take a look.

[2019-03-28 21:20] gemantzu commented on #506
thnx @lccezinha !

[2019-03-28 23:14] lccezinha commented on #506
@gemantzu I'm afraid of showing the list of all jobs available for a company inside the box will put the description content about the company outside the div height.

Any suggestion about it? What the best approach to deal with this problem?

[2019-03-29 07:55] gemantzu commented on #506
@lccezinha I don't think we have an issue with it. The card div scrolls after all. But that's a good question, should we possibly hide all jobs under an accordeon and expand on it only if clicked? What do you thing @doomspork / @tajchumber ?

[2019-03-31 19:57] gemantzu commented on #506
closed by #507 ! Thank you @lccezinha !

[2019-03-31 19:57] #506 closed

[2019-04-03 14:21] lccezinha opened #510 "Add Resultados Digitais as a company on the list"
I would like to add Resultados Digitais as a company on the list.

Our main stack is Ruby and Go, but we have some projects that are built with Elixir/Phoenix.

Company data:

[code]

Is that enough? Also, I was not able to find a way to contribute to and add new companies.

[2019-04-04 17:33] gemantzu commented on #510
Hi @lccezinha ! As you can see in the README, this repo has changed the past couple of months. We have moved away from the previous implementation (Ruby - Jekyll) where we had to do a PR to enlist a company, to a Phoenix based full blown database-backed application. You can visit the [website](https://elixir-companies.com), login in with your Github account and add a company through the form. We w

[2019-04-04 17:33] #510 closed

[2019-04-04 18:07] lccezinha commented on #510
@gemantzu Thanks, I already sent the information about the company, thank you.

[2019-04-04 19:00] lccezinha commented on #510
Also, maybe this information could be more explicit in the readme file, I did not find it in any place.

[2019-04-05 17:12] doomspork commented on #510
@lccezinha would you care to open a PR updating the README? 😁

[2019-04-05 18:15] lccezinha commented on #510
@doomspork I'll do that! Thank you!

[2019-04-05 18:37] doomspork commented on #510
Thank _you_ @lccezinha! It's awesome to have others getting involved. Have a great weekend 🎉

[2019-04-07 23:03] joaothallis opened #512 "Test capturing log but not compare the result log"
https://github.com/doomspork/elixir-companies/blob/75c10e23bbf4e56896140454e49650c503d1f8bd/test/companies/jobs_test.exs#L26

Using https://hexdocs.pm/ex_unit/ExUnit.CaptureLog.html#capture_log/2 is only for check if has log?

[2019-04-09 20:25] #499 closed

[2019-04-10 19:17] doomspork commented on #512
Howdy @joaothallis! You bring up a good point, we could be asserting against the logs here. We're doing that here: https://github.com/doomspork/elixir-companies/blob/b982e3c5a356df1f65d9409491eb45e862dfb22e/test/notify/console_test.exs#L12 which is the code ultimately called by these tests. Why I decided to use `capture_log/1` here without the assert was solely a matter of cleaning up the terminal

[2019-04-10 19:28] joaothallis commented on #512
Yes, but you can use `@tag :capture_log` in every test or `@moduletag :capture_log` for cleaning up the terminal output during test running.

[2019-04-10 19:33] doomspork commented on #512
@joaothallis that's a great suggestion 😁

[2019-04-17 14:25] #512 closed

[2019-04-28 21:42] gemantzu opened #515 "Approvals / authentication urls not showing on mobile"
While on mobile, i can't see the approvals and sign in / sign out buttons.

[2019-05-02 11:24] gemantzu opened #516 "Showing less companies than intended"
I have noticed this only on hiring for now, but it is an issue that keeps coming back.

![issue](https://user-images.githubusercontent.com/4966172/57072275-ce8a6e00-6ce5-11e9-8e71-10602fca03a7.png)

[2019-05-02 13:50] doomspork commented on #516
@gemantzu please don’t auto assign all of your bug reports to me, no one else will do them if they think they’re being worked on.

Why don’t you open a PR instead? :grinning:

[2019-05-02 14:01] doomspork commented on #515
I don't use mobile so this isn't a priority to me. @gemantzu you can tackle this one or we can close it. I'm not going to invest time in improving admin.

[2019-05-02 19:55] tajchumber commented on #515
@gemantzu @doomspork I'll have a look a this one!

[2019-05-02 21:35] doomspork commented on #515
You're the best @tajchumber!

[2019-05-03 02:10] lccezinha commented on #516
@gemantzu Have you been able to reproduce it locally, It will make easier to track the possible bug and fix it.

[2019-05-03 05:34] gemantzu commented on #515
Thank you @tajchumber , you are awesome!

[2019-05-03 05:38] gemantzu commented on #516
I think it has something to do with having more jobs on one company, but I will check it out this afternoon when I get back home. Thanks @lccezinha .

[2019-05-03 11:32] tajchumber commented on #515
@gemantzu can you give more details or a few screenshots of what's missing? and where?

[2019-05-06 17:21] gemantzu commented on #515
![Screenshot_2019-05-06-20-19-40-162_org mozilla firefox](https://user-images.githubusercontent.com/4966172/57242559-77193480-703c-11e9-964f-6b4c2e6e3e41.png)

[2019-05-14 20:53] #515 closed

[2019-05-15 13:40] doomspork commented on #516
@gemantzu anything I can do to help you reproduce this so folks can take a stab at fixing it?

[2019-05-18 10:01] gemantzu commented on #516
I don't think you need to, I think I am like 99% right on this one. If you check our current hiring first page, there are three cards missing, and the companies listed are 13 and have actually 16 jobs (+1 one on one company and +2 one another). I am looking at it right now on how to fix.

[2019-05-28 17:56] RichMorin opened #518 "machine-friendly data format?"
I'd like to be able to download and/or upload company information in a machine-friendly data format (eg, JSON, TOML, YAML). If this is already possible, please document it. If not, please consider supporting this feature.

[2019-05-28 21:58] doomspork commented on #518
@RichMorin that isn't currently possible but a PR to implement such a feature would be welcome 😁

[2019-05-28 23:43] RichMorin commented on #518
https://github.com/beam-community/elixir-companies/blob/master/mix.exs
tells me that you're using Phoenix.  So, routing URLs should be trivial.  Also,
we're not trying to create an API for the site; we just want (at the moment :-)
to view and update the company table.

I have no doubt that I could create a reasonable first cut at a data structure
for a company table.  However, if you have a prefer

[2019-05-29 01:44] doomspork commented on #518
Howdy @RichMorin, I can certainly do the development work. Could you explain your needs a little better? I'm not entirely sure what you mean by:

to view and update the company table.

[2019-05-29 05:13] RichMorin commented on #518
If it isn't too much trouble for you, I won't complain about missing out
on the development work.  However, if there are parts you'd like me to
take on, just say so.

OK, let's start by tackling the downloading half of the issue.  If we can get that
working, we can worry about uploading new or modified entries.

Looking at the site, I see a number of URLs for accessing information, eg:

  https://

[2019-05-29 05:35] RichMorin commented on #518
FYI, I'm currently engaged in a discussion of some of these issues on

https://elixirforum.com/t/is-there-a-best-practice-for-forming-json-etc-urls/22747

-r

[2019-05-29 18:13] doomspork commented on #518
@RichMorin apologizes for any confusion. I'm clear on _how_ to implement support for different formats in an API. I'm unclear on _why_ we want to do that here 😁

Could you help me understand _why_ you're asking for machine-friendly access to the list of companies with the ability to both download and later upload them?

What is the business need we're trying to fulfill with this feature? I want to

[2019-05-29 18:45] RichMorin commented on #518
Although JSON is the most popular (and thus best supported) format for serialization of web-based data, it isn't all that pleasant for humans to read. So, for convenience, I generally use YAML or TOML instead.

I realize that I could download the JSON and then transform the data into my preferred format, but this involves an extra step.  A site's TOML or YAML emitter can also be optimized to gener

[2019-06-03 17:04] RichMorin opened #519 "icon-purle ?"
Looking at the HTML for https://elixir-companies.com/en/browse, I noticed a possible typo:

  <span class="icon icon-purle" >

Should this be icon-purple?

[2019-06-04 08:26] gemantzu commented on #519
Hi @RichMorin . Can you be more specific? Where exactly is the typo? What does it say?

[2019-06-04 09:59] Nitrino commented on #519
Sori guys, I saw your conversation and it seemed to be more quickly fixed than discussed.

[2019-06-04 12:36] #519 closed

[2019-06-04 12:37] tajchumber commented on #519
thanks @RichMorin for bringin this issue up :)

[2019-06-04 16:19] RichMorin opened #521 "Travis CI link problems"
The "Build Status" link on `https://github.com/beam-community/elixir-companies` goes to `https://travis-ci.org/doomspork/elixir-companies`, which says "We couldn't find the repository doomspork/elixir-companies". The accompanying img link (to `https://camo.githubusercontent.com/98ad3...`) is also broken.

[2019-06-04 16:25] RichMorin opened #522 "accessibility issues"
The site makes extensive use of icons to indicate the nature of accompanying links and text, etc. There should be tooltips to make the meaning accessible via screen readers, etc. More generally, running something like Chrome's Accessibility Audit might be useful.

[2019-06-04 17:47] RichMorin opened #523 "completeness, order, and searching"
The site allows the user to select ranges of starting letters (eg, A-E) for company names. However, it does not have any way to display sorted lists of companies whose names do not start with a letter (eg, "2U", "500 Companies", "{sauce}"). There aren't too many of these, so they should probably be displayed before A or after Z.

I'd also like the main browsing page (https://elixir-companies.com/e

[2019-06-05 17:36] doomspork commented on #522
@burden / @tajchumber either of you interested in grabbing this?

[2019-06-05 19:04] #521 closed

[2019-06-08 06:51] gemantzu commented on #523
I have been working on a live view version of the website, where we can have multiple filters, but i haven't had the time to finish unfortunately. Hopefully, i will pick it up again next week. This should solve most of the issues you have, but i can't predict when i will be done, since my free time is very limited these days.

[2019-08-09 18:55] eaverdeja commented on #523
@gemantzu would you like some help?

I am by no means an expert Elixir developer, but I'm studying and have been tinkering with LiveView (I'm creating a LiveView interface for the Islands game built in the [Functional Web Development with Elixir, OTP, and Phoenix](https://pragprog.com/book/lhelph/functional-web-development-with-elixir-otp-and-phoenix) book)

[2019-08-12 11:33] gemantzu commented on #523
@eaverdeja my free time has been limited to almost zero, that's how this has stagnated. I will have some free time at the end of the week, I will try to revise what I have, upload it here as a wip and we can discuss about any improvements you might have to suggest. Thanks.

[2019-08-12 18:45] eaverdeja commented on #523
@gemantzu Sure, that works for me!

[2019-08-17 15:17] gemantzu commented on #523
@eaverdeja as promised, here is where I have landed so far. Feel free to contribute. #526

[2019-09-25 18:36] maartenvanvliet commented on #498
I'd like to tackle the "remote" option for companies.
I suggest adding a remote true/false field to the companies table. Or are more options needed?

Also, what should the design look like?

[2019-09-26 07:40] gemantzu commented on #498
@maartenvanvliet thank you for your help. I guess the more accurate solution would be to have a remote field in the jobs schema, because a company might have remote and non remote jobs to offer. Than, we could filter the remote jobs for anyone interested.

[2019-10-03 07:40] AdamT opened #532 "Have "remote" option in UI and accessible via a url, perhaps "/browse?type=hiring&remote=true""
Are there any plans to allow filtering companies that are hiring remote? Right now that option isn't available in the UI and as far as I can tell, is not available via a URL.

I think it would be useful to:
1. Add filtering by remote in the UI
2. Add filtering remote via a URL `browse?type=hiring&remote=true`

In the UI this could be a checkbox/link that once clicked reloads the results that have

[2019-10-03 08:56] gemantzu commented on #532
@AdamT yes this is under construction. I had the initial idea to make it a LiveView thing with infinitescroll and text search but it is not working properly. We will see how we will implement it, but jobs will be searchable / filterable.

[2019-10-03 08:57] gemantzu commented on #449
@doomspork maybe close this? we are not displaying information per industry (or maybe we can add that?)

[2019-10-03 10:20] AdamT commented on #532
@gemantzu That's great. Really looking forward to it.

Perhaps before going all LiveView on a filtering feature, maybe a good V1 version would to render a page based on query parameters. This may work well as a quick implementation since ya'll have pagination already implemented. Anyhoo, just a thought. Thank you so much for all the great work! 👏 🙇

[2019-10-03 11:47] gemantzu commented on #532
That's why I said I had the initial idea, it probably can't work with LiveView the way I intended it. We are working on it with alternatives, but thank you for the insight anyway!

[2019-10-03 11:55] gemantzu opened #533 "Roadmap"
@doomspork / @tajchumber / @burden I am creating this post so we can have a clear roadmap of the things we want to change in this repository / app.

Please state your thoughts on the list below:
- ~Remove hiring filter and create a new route for jobs~
- ~Filter / Search / Sort companies and jobs~
- Restructure Company ~/ Job List page~
- Company Details page (Logo?)
- Move delete buttons to edit p

[2019-10-04 20:07] #449 closed

[2019-10-04 20:08] doomspork commented on #449
@gemantzu feel free to close issues you think we can do away with, just leave a comment 👌

[2019-10-04 23:40] doomspork commented on #533
#### Remove hiring filter and create a new route for jobs

I think that's a great idea and an easy win for Hacktoberfest

#### Filter / Search / Sort companies and jobs

We could absolutely improve the filter / search / sort of companies. We could also expand on the company profiles and provide a dedicated company page which could include a summary of how Elixir is used, company employee count, et

[2019-10-05 08:22] #532 closed

[2019-10-05 20:41] gemantzu commented on #533
#534 Solves first two (although it needs improvement on the looks).
What kind of PR can we do for industries? They are on database entries.

[2019-10-05 20:50] doomspork commented on #533
I think we have some options maybe?

1. We could write a migration, run it, and delete it.
2. We could write a Mix Task and delete it as well
3. We could run a one-off script without checking it into source control but this would impact the ability to review it.

[2019-10-08 18:00] maartenvanvliet opened #536 "Support markdown in company description"
The description for  https://elixir-companies.com/en/companies/4/edit has some markdown to link to github repositories. See below for the markdown.

Right now this is not supported. This would not be hard to implement imo but should it be supported?

[code]

[2019-10-08 21:38] doomspork commented on #536
@maartenvanvliet we've been talking about some site improvements lately and this should definitely be one of them! Would you be open to submitting a PR? If not I think I can tackle this for us.

In addition to this enhancement some of the other things I'm thinking are a dedicated page for each company with a larger section for text, links to project repos, and all current job listings. I'm all ear

[2019-10-09 06:32] tajchumber commented on #533
looks good to me @doomspork @gemantzu

[2019-10-09 08:13] maartenvanvliet commented on #536
Great! Will do :)

[2019-10-10 14:28] #536 closed

[2019-10-10 18:58] maartenvanvliet commented on #533
I have couple of ideas:

* Add company logo
Either direct image url or upload to s3
* Twitter feed of companies
Much like https://elixirstatus.com/ does, when companies are created they are also posted to a twitter feed

[2019-10-11 10:11] gemantzu commented on #533
@maartenvanvliet thank you for your contributions! Company logo is under discussion already, but twitter feed is a really nice idea imo. Thank you!

[2019-10-12 17:06] doomspork commented on #533
Great ideas @maartenvanvliet! I’ve got the elixir-companies twitter handle, we just need to build the notifications 🎉

[2019-10-12 21:26] gemantzu commented on #523
Closing this since the site now uses a different approach of searching (which solves most of @RichMorin 's suggestions). Thank you all for the discussion.

[2019-10-12 21:26] #523 closed

[2019-10-13 14:42] gemantzu commented on #516
Not an issue any more since we changed the mechanism of displaying companies / jobs.

[2019-10-13 14:42] #516 closed

[2019-11-22 11:34] LostKobrakai opened #549 "Search and pagination"
When filtering by a category in the company listing the pagination doesn't keep the search value around.

[2019-12-08 05:12] #522 closed

[2019-12-08 05:12] #518 closed

[2019-12-09 08:23] maartenvanvliet opened #553 "Order by createdAt desc in changes overview"
I noticed the list of changes (pending/accepted/rejected) has no ordering right now.

 It should by ordered by createdAt descending, as in most cases you'll be most interested in the last changes.

[2019-12-09 15:11] gemantzu opened #554 "Order by created_at / inserted_at for recent"
@doomspork / @maartenvanvliet which one do you think?

[2019-12-09 17:26] gemantzu commented on #454
solved by #550!

[2019-12-09 17:26] #454 closed

[2019-12-09 17:27] gemantzu opened #557 "Localization instructions"
We don't cover this in our README. Let's add this.

[2019-12-09 17:34] #553 closed

[2019-12-09 18:00] #554 closed

[2019-12-09 18:02] doomspork commented on #533
I am going to investigate the LOE for the twitter integration over the next few days.

We could see if a service like Cloudinary offers a free tier for open source projects, that would tackle the company logo uploads. That said, using S3 would present a neat opportunity to move the entire application to AWS and possible use Terraform to provide an example to the community. It would also be a wonde

[2019-12-09 18:32] maartenvanvliet opened #558 "Add Credo to project"
See https://github.com/beam-community/elixir-companies/pull/555#discussion_r355585459

I propose we add Credo to the project and CI to enforce code guidelines.
We'll need to investigate which rules we use. The default config is fine imo, though it may be necessary to disable some rules for now. This to prevent a very noisy commit when we initially run Credo and fix its warnings.

[2019-12-10 07:56] gemantzu commented on #557
Fixed by #561

[2019-12-10 07:56] #557 closed

[2019-12-10 12:11] gemantzu opened #564 "Search Job by text"
Trim text from form

[2019-12-10 17:40] gemantzu commented on #564
closed by #565 !

[2019-12-10 17:40] #564 closed

[2019-12-10 17:50] doomspork commented on #564
So exciting seeing all the new activity :tada:

[2019-12-12 08:08] gemantzu opened #568 "Approval buttons overlapping locale dropdown"
![Screenshot_2](https://user-images.githubusercontent.com/4966172/70693945-27cc6e00-1cc7-11ea-9df7-af902695203c.png)

Minor thing since it's not really usual to change the locale in the admin panel :)

[2019-12-12 08:10] gemantzu opened #569 "Company menu not closing on mouse clicking outside of the dropdown menu"
Title says all

[2019-12-12 16:47] #558 closed

[2019-12-15 08:48] gemantzu opened #571 "Pending Changes ... changes not showing properly"
![Screenshot from 2019-12-15 10-44-23](https://user-images.githubusercontent.com/4966172/70860232-ed154080-1f27-11ea-85e1-70974331044a.png)

We have a bunch of changes from this user, but it is not visible what they do change (I can't find a change inside them to be honest, text seems the same for all cases).

[2019-12-15 15:21] doomspork commented on #571
The other oddity is that these are labelled updates when there is no `id` in the change :thinking:

[2019-12-15 18:20] gemantzu commented on #571
Eh? meaning? The companies exist though, they are not new.

[2019-12-16 02:12] doomspork commented on #571
If you look in the admin panel you will notice these all say "update" but if you look at the JSON in the changes there is no `id`. That itself is a bug. If no `id` is present then it should be a new record and thus a "create" action

[2019-12-16 06:44] gemantzu commented on #571
Ah, ok. Didn't know about this detail.

[2019-12-22 17:59] #549 closed

[2020-02-12 08:55] gemantzu opened #578 "Cannot view resource deletion"
This is the error shown:
`cannot encode association :removed_pending_change from Companies.Schema.Company to JSON because the association was not loaded.`

[2020-02-12 10:55] #578 closed

[2020-02-12 11:06] gemantzu opened #580 "Update Resource issue"
Here is the error:
[code]

[2020-02-12 11:23] gemantzu opened #581 "Changeset error for blank note"
Here is the error:
[code]

[2020-02-12 11:24] gemantzu commented on #580
The problem is that the update functionality does not contain the resource id in it. This is valid for both old and new pending_changes.

[2020-02-12 13:32] #580 closed

[2020-02-12 13:38] doomspork commented on #581
Ah, that's my fault. We should have either a default note or validation in the JS to prevent a submission without a note.

[2020-02-12 16:00] gemantzu commented on #571
This was probably fixed by #582 right?

[2020-02-12 16:45] #568 closed

[2020-02-12 16:53] #581 closed

[2020-02-14 07:07] gemantzu opened #588 "company slugs"
It seems that some people are messing with the urls, trying to find their company. I see some errors in the form of `/en/companies/CompanyName`. Should we add a slug field for the company name or should we just try to find the company based on the url followed?

[2020-02-14 17:23] #569 closed

[2020-02-17 15:59] gemantzu commented on #463
Check out #587 . Any additional fields are welcome for discussion.

[2020-02-17 17:51] doomspork commented on #588
Yeah. We need to support slugs. We get hundreds of hits of people trying to use them.

[2020-02-17 17:52] doomspork commented on #463
@sandeshsoni and @Nitrino would you mind taking a peek at @gemantzu's PR when you get a moment? He's implemented the version iteration of this.

[2020-02-17 18:06] sandeshsoni commented on #463
perferct!

hey @doomspork , I see there is a CV_link, that really helpful.
Yes, on the external page that opens as CV, one can mention his stack-overflow link, hence my question is solved.

[2020-02-17 18:12] doomspork commented on #463
Wonderful! We can get this launched and iterate on it as we come up with new ideas.

I would _love_ to revisit the entire sites UX and design, improving these profiles along the way. Any feedback you have is more than welcomed!

Thanks again for your involvement :tada:

[2020-02-21 16:21] gemantzu opened #589 "Pending Change CRUD for admins"
Right now we have some PendingChanges that cannot be touched due to a bug we used to have. Most of them PendingChanges can be safely deleted (Idk how they came to be in the first place, one user put them all in with no apparent change in them). Should we have a delete button in the table in those situations?

[2020-02-22 16:02] gemantzu commented on #463
#587 has been merged. Please let us know if you have any issues.

[2020-02-22 16:02] #463 closed

[2020-02-22 17:37] gemantzu opened #592 "Profile page button placement (only in production for some reason)"
![Screenshot from 2020-02-22 19-25-27](https://user-images.githubusercontent.com/4966172/75096667-77be8f80-55aa-11ea-8d74-36db20fa845f.png)
This is only showing up like that in production. In my development environment you can see it below:

![Screenshot from 2020-02-22 19-36-51](https://user-images.githubusercontent.com/4966172/75096692-b9e7d100-55aa-11ea-98a0-9b2e7fe9e868.png)

[2020-02-22 18:20] doomspork commented on #592
@burden any idea? You're the UX pro in this neck of the woods.

[2020-02-23 23:15] gemantzu commented on #592
solved by #593

[2020-02-23 23:15] #592 closed

[2020-03-10 23:34] doomspork commented on #589
@gemantzu is this still a bug?

[2020-03-10 23:47] #571 closed

[2020-03-11 12:41] gemantzu commented on #589
Yes! If you see the pending changes on the production system, they can't be handled and they produce an error.

[2020-03-16 18:11] tajchumber commented on #589
it doesn't seem to be a problem for me anymore?
Can you still replicate this? @gemantzu @doomspork

[2020-03-17 16:59] gemantzu commented on #589
hey @tajchumber ! I was now able to reject the changes with not a company id on them (wasn't able to before), but the last one cannot be handled (the delete one). Checking on the actual issue now.

[2020-03-19 18:39] tajchumber commented on #589
@gemantzu i was able to reproduce this bug locally
I will open a PR to fix this!

[2020-03-22 14:09] doomspork commented on #589
Hooray! Thanks for helping get this resolved @tajchumber.

@gemantzu / @tajchumber I'm happy to re-think the way we do these pending changes if think there may be a better way?

[2020-03-22 15:41] tajchumber commented on #589
I think the way this works is fine! :)

The issue is caused by an edge case that no one thought of or tested. I don't think I would have caught it if it didn't cause the site to crash at all!

I have opened a [PR](https://github.com/beam-community/elixir-companies/pull/600) for it, please review :)

[2020-03-22 21:48] #589 closed

[2020-04-28 07:05] gemantzu commented on #472
@doomspork do we need this now since we have the task to invalidate old jobs?

[2020-04-28 07:13] gemantzu opened #604 "job showing in recent while it is deleted."

[2020-04-28 13:12] #472 closed

[2020-04-28 13:12] doomspork commented on #604
@gemantzu we need to provide some details or context on these reports so people other than yourself can look into them.

[2020-04-28 16:46] doomspork commented on #604
I don't see a job listed there. Are you referring to the "Hiring" flag?

[2020-04-29 05:27] gemantzu commented on #604
The problem is in the companies query (recent, all), we are returning all jobs, even if they are "deleted".

[2020-04-30 15:57] gemantzu opened #606 ":single_one_for_one deprecation"
Here is the message:

[code]

Erlang / Elixir versions:

[code]

[2020-04-30 16:23] doomspork commented on #606
This is the most frustrating error. It's happening all over the place but there isn't a set solution AFAIK. I've seen many questions about this online

[2020-04-30 16:30] pau-riosa commented on #606
hi guys I think this one might help regarding the warning https://hexdocs.pm/elixir/DynamicSupervisor.html

[2020-04-30 17:54] SophieDeBenedetto opened #608 "LiveDashboards enable metrics and request logger"
Let's enable the LD "metrics" and "request logger" tabs so that we can visualize phoenix + ecto metrics as well as request/web traffic.

[2020-04-30 20:03] gemantzu commented on #606
Thanks @pau-riosa ! You are welcome to push a PR if you want :)

[2020-05-01 04:22] pau-riosa commented on #606
wow really thanks! I'll try!

[2020-05-01 15:45] #608 closed

[2020-05-05 13:25] doomspork commented on #604
I understand @gemantzu. I'm asking for clarification because you didn't add any context to this bug report.  As I've asked before: Please do not just open empty issues. The goal is to provide something others can contribute to and help fix. Issues like this are left to you and you alone to fix.

[2020-05-12 13:35] tsrandrei commented on #498
One suggestion :  Logo of the company ? might help having a visual impact I think. Perhaps doing a redesign of cards might help?

[2020-05-25 17:23] tajchumber commented on #606
I think this is not an issue anymore. can we close it @gemantzu ?

[2020-05-26 08:14] gemantzu commented on #606
@tajchumber really? Did something change on erlang / elixir which fixed it or what? I am sorry, I was away for a few days.

[2020-05-26 11:55] tajchumber commented on #606
I think it might be after updating to elixir 1.10? I actually didn't notice when it stopped happening haah

[2020-07-01 12:57] bglusman opened #620 "Switch from Heroku to Gigalixir"
@doomspork and I discussed this a month or so ago but I don’t believe we documented anywhere and I just thought of it again.

Also came across this while looking at Github actions to enforce mix formatting which reminded me so may as well include the link here as may be helpful:
https://github.com/mhanberg/gigalixir-action

[2020-07-01 15:30] doomspork commented on #620
@bglusman I signed up today and I tried to invite you. Let me know if you got anything, it gives me no indication it sent.

[2020-07-02 03:14] bglusman commented on #620
I don’t appear to have any new email from them... I may have made an account a few years ago but not sure/may have been old work address if I did... We’ll figure it out soon though

[2020-07-10 13:54] doomspork commented on #620
Thanks for looking into this again @bglusman! For those not in Slack, at this time Gigalixir requires a paid account to have multiple users :-1:

[2020-07-10 13:54] #620 closed

[2020-07-22 15:35] nathanl commented on #498
I've wanted an optional field on submissions for a link which shows that the company is using Elixir. It could be public or visible only to admins, but something like a blog post by one of their engineers or a job posting would substantiate the claim.

[2020-07-22 17:21] maartenvanvliet commented on #498
Yes that would be helpful, I do some quick checks usually to check the claim (blogs, jobs, github repo's, phoenix html tags, cowboy http headers) but having submissions provide evidence would help 😅

[2020-07-24 14:43] bradyfontenot opened #624 "search or filter by location"
Really appreciate you guys aggregating all these companies.  It would be great if it was possible to search companies by country either through the current text search or via filter options.  Currently the text search doesn't return results based on company.

[2020-09-12 15:01] tajchumber commented on #624
This has been implemented in https://github.com/beam-community/elixir-companies/pull/627 so I'm closing this issue

Thanks for the request @bradyfontenot :)

[2020-09-12 15:01] #624 closed

[2020-09-12 15:48] bradyfontenot commented on #624
nice! I really appreciate it. Thanks.

[2020-10-19 12:55] GregLMcDonald opened #629 "Edit function does not appear to work"
There is a small grammar error in our company entry (http://elixir-companies.com/en/companies/634) that I am trying to fix (change "client's" to "clients'") using the Edit action which is available when I am logged in with the GitHub account.  However, when I hit save, the entry remains unchanged.  Maybe you need admin permissions to edit?

If the Edit action is available, I would expect to see th

[2020-10-19 16:54] doomspork commented on #629
![image](https://user-images.githubusercontent.com/73386/96480988-28dbff00-11f8-11eb-8b9c-88007caf3da3.png)

Howdy @GregLMcDonald! All changes require admin approval (we've had abuse). It can take a bit for one of us get online and get to the queue. Sorry for the delay. We're always looking for ways to improve the site :+1:

[2021-04-23 16:58] rathorevaibhav commented on #629
hey @doomspork
I'm also facing a similar situation and wanted to update my company description. I went to edit page but clicking on save yields no success.

Is the edit feature currently working or should I wait for the new description approval from someone? Please guide. TIA!

[2021-04-27 06:57] rathorevaibhav commented on #629
hey any update on this? I was trying to update the description for our company:
http://elixir-companies.com/en/companies/654

[2021-04-27 13:20] #629 closed

[2021-04-27 13:21] doomspork commented on #629
Hi @rathorevaibhav as I mentioned in the original reply, this is not a bug. This is the human admins being busy with personal lives and not having a chance to review things.  Someone will get to it shortly.

Unfortunately admin approval is required as a result of some bad actors.

[2021-04-27 13:50] rathorevaibhav commented on #629
@doomspork thanks for your update. I understand the bad actors and it gets difficult with them.

[2021-04-27 15:17] doomspork commented on #629
You should have gotten some emails from the site. I went through your submissions :+1:

[2021-04-27 17:25] rathorevaibhav commented on #629
Thank you very much for that! Yes, my submission has been approved. Much appreciated! 👏

[2021-04-27 17:36] doomspork commented on #629
You're very welcome. Thanks for the contribution @rathorevaibhav :grin:

Once I finish the major overhaul of Elixir School I'm going to revisit Elixir Companies in the hopes of improving the UX for both viewers and submitters.

[2021-05-04 08:58] raymondboswel opened #635 "Adding company process not explained on website itself"
HI there!

I tried adding my employer to the list, and didn't see it appear, which caused me to try again a few more times. The readme in this repo explains the process perfectly well, but there is no explanation on the site itself. I'm happy to make a PR if no one else wants to. Let me know :+1:

[2021-05-04 15:13] doomspork commented on #635
Howdy @raymondboswel! That would be really helpful!

Truth be told I've really been wanting to revisit this site and overhaul it. The admin approval process worked for awhile but now it's proving to be a bottle neck. Perhaps we could figure out a better solution relying on Elixir configuration files or yml.

[2021-05-04 16:56] raymondboswel commented on #635
I see the site is internationalized, I can do the English version, but will need help with the rest.

[2021-05-11 20:09] billtong opened #639 "Company Profile Modal Close Error"
After I log in, all the company profiles are editable by clicking the 3 vertical dots. However, when I click again to close the modal menu of the profile, all the other company profile page's modal pop up.

screenshot of the problem below

![image](https://user-images.githubusercontent.com/31582044/117876866-d7698f00-b271-11eb-84ae-3ad5bec14829.png)

[2021-05-12 15:19] #635 closed